<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
</head>
<style>
    
</style>
<body>
<div class="containter">
    <div th:fragment="header">
        <div th:fragment="header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <div class="row text-center">
                            <img th:src="@{/images/MsuDenverLogo.jpg}" width="250"/>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="containter">
    <div th:fragment="header">
        <div th:fragment="header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                                <a class="navbar-brand" href="../login.html" th:href="@{/user/login}">Login</a>
                            </div>
                            <div class="dropdown">
                                <button class="dropbtn">User</button>
                                <div class="dropdown-content">
                                    <a href="../usershow.html" th:href="@{/users}">Users</a>
                                    <a href="../userform.html" th:href="@{/user/new}">New User</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="dropbtn">Administrator</button>
                                <div class="dropdown-content">
                                    <a href="../admins.html" th:href="@{/admins}">Administrators</a>
                                    <a href="../adminform.html" th:href="@{/admin/new}">New Administrator</a>
                                </div>
                            </div>
                            <div class="dropdown">
                            <button class="dropbtn">Courses</button>
                              <div class="dropdown-content">
                                <a href="../courses.html" th:href="@{/courses}">Courses</a>
                                <a href="../courseform.html" th:href="@{/course/new}">New Course</a>
                                </div>
                            </div>
                            <div class="dropdown">
                            <button class="dropbtn">Student</button>
                              <div class="dropdown-content">
                                <a href="../courses.html" th:href="@{/courses}">Students</a>
                                <a href="../courseform.html" th:href="@{/course/new}">New Student</a>
                              </div>
                            </div>
                            <div class="dropdown">
                            <button class="dropbtn">Sections</button>
                              <div class="dropdown-content">
                                <a href="../courses.html" th:href="@{/courses}">Sections</a>
                                <a href="../courseform.html" th:href="@{/course/new}">New Section</a>
                              </div>
                            </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

</body>
</html>