<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
</head>
<body>
<div class="image">
    <div th:fragment="header">
        <div th:fragment="header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <div class="row text-left">
                            <img th:src="@{/images/MsuDenverLogo.jpg}" width="250"/>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div th:fragment="header">
        <div th:fragment="header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Student</button>
                        <div class="dropdown-content">
                            <a href="../studentshow.html" th:href="@{/students}">Students</a>
                            <a href="../studentform.html" th:href="@{/student/new}">New Student</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Register</button>
                        <div class="dropdown-content">
                            <a href="../enrollmentform.html" th:href="@{enrollment/new}">Register</a>
                            <a href="../enrollment.html" th:href="@{enrollments}">View Classes</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Professor</button>
                        <div class="dropdown-content">
                            <a href="../professorshow.html" th:href="@{/professors}">Professors</a>
                            <a href="../professorform.html" th:href="@{/professor/new}">New Professor</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Administrator</button>
                        <div class="dropdown-content">
                            <a href="../adminshow.html" th:href="@{/admins}">Administrators</a>
                            <a href="../adminform.html" th:href="@{/admin/new}">New Administrator</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Building</button>
                        <div class="dropdown-content">
                            <a href="../buildingshow.html" th:href="@{/buildings}">Buildings</a>
                            <a href="../buildingform.html" th:href="@{/building/new}">New Building</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Course</button>
                        <div class="dropdown-content">
                            <a href="../courseshow.html" th:href="@{/courses}">Courses</a>
                            <a href="../courseform.html" th:href="@{/course/new}">New Course</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Semester</button>
                        <div class="dropdown-content">
                            <a href="../semestershow.html" th:href="@{/semesters}">Semester</a>
                            <a href="../semesterform.html" th:href="@{/semester/new}">New Semester</a>
                        </div>
                    </div>
                </div>

            </nav>
        </div>
    </div>
</div>

</body>
</html>