<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Rebel Scrum</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/header.css" th:href="@{/css/header.css}" />
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Course Details</h2>
    <div>
        <form class="form-horizontal" th:object="${course}" th:action="@{/course}" method="post">
            <input type="hidden" th:field="*{id}"/>

            <div class="form-group">
                <label class="col-sm-2 control-label">Course Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{courseName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Semester:</label>
                <div class="col-sm-10">
                    <input th:type="text" class="form-control" th:field="*{semester}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Department:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{department}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Credit Level:</label>
                <div class="col-sm-10">
                    <input th:type="text" class="form-control" th:field="*{creditLevel}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <input th:type="text" class="form-control" th:field="*{description}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Credit Level:</label>
                <div class="col-sm-10">
                    <input th:type="text" class="form-control" th:field="*{creditLevel}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Course Description:</label>
                <div class="col-sm-10">
                    <input th:type="text" class="form-control" th:field="*{description}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Learning Objectives:</label>
                <div class="col-sm-10">
                    <input th:type="text" class="form-control" th:field="*{learningObjectives}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Co Requisites:</label>
                <div class="col-sm-10">
                    <input th:type="text" class="form-control" th:field="*{coReqs}"/>
                </div>
            </div>


            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
                <button type="reset" class="btn btn-default">Reset</button>
                <button type="button" onclick="history.back()" class="btn btn-default">Back</button>

            </div>
        </form>
    </div>
</div>

</body>
</html>