<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Rebel Scrum</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/header.css" th:href="@{/css/header.css}" />
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div th:if="${not #lists.isEmpty(courses)}">
        <h2>Course List</h2>
        <table class="table table-striped">
            <tr>
                <th>CRN</th>
                <th>Course Name</th>
                <th>Semester</th>

                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="course : ${courses}">
                <td th:text="${course.id}"><a href="/course/${course.id}">CRN</a></td>
                <td th:text="${course.courseName}"><a th:href="/course/${course.courseName}"> Name</a> </td>
                <td th:text="${course.semester}">Semester</td>
                <td><a th:href="${ '/course/' + course.id}">View</a></td>
                <td><a th:href="${'/course/edit/' + course.id}">Edit</a></td>
                <td><a th:href="${'/course/delete/' + course.id}">Delete</a> </td>
            </tr>
        </table>
    </div>
    <a th:href="${'/course/new'}"> New Course </a>
</div>
</body>
</html>