<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Rebel Scrum</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/header.css" th:href="@{/css/header.css}" />
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Course Details</h2>
    <div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">ID:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${course.id}">ID</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Course Name:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${course.courseName}">Course Name</p></div>
            </div>
            <!--
            <div class="form-group">
                <label class="col-sm-2 control-label">Start Time:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${course.timeStart}"> </p>

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">End Time:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${course.timeEnd}"> </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Days:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${course.Days}"> </p>

                </div>
            </div>
            -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Semester:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${course.semester}">Semester</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Department:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${course.department}">Department</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Credit Level:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${course.creditLevel}">Credit Level</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${course.description}">Description</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Learning Objectives:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${course.learningObjectives}">Learning Objectives</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control`-label">Co-Requisites:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${course.coReqs}">Co-Requisites</p>
                </div>
            </div>


            <div class="row">
                <button type="button" onclick="history.back()" class="btn btn-default">Back</button>
            </div>

        </form>
    </div>
</div>

</body>
</html>