<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Rebel Scrum</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/header.css" th:href="@{/css/header.css}" />
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div th:if="${not #lists.isEmpty(sections)}">
        <h2>Section List</h2>
        <table class="table table-striped">
            <tr>
                <th>Course</th>
                <th>Section Number</th>
                <th>Professor</th>

                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="section : ${sections}">
                <td th:text="${section.course}">Course</td>
                <td th:text="${section.id}"><a href="/section/${section.id}">Section Number</a></td>
                <td th:text="${section.professor}">Professor</td>
                <td><a th:href="${ '/section/' + section.id}">View</a></td>
                <td><a th:href="${'/section/edit/' + section.id}">Edit</a></td>
                <td><a th:href="${'/section/delete/' + section.id}">Delete</a> </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>